# Environment
.env
.python-version

# Credentials (sensitive)
credentials/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Notebooks checkpoints
.ipynb_checkpoints/
